.memory-game-table {
  background-color: #FFFFFF;
}

.memory-game-td {
  width: 100px;
  height: 100px;
  border: 3px solid #FFFFFF;
}

.memory-game-td-face-down {
  background-color: #C0C0C0;
}

.matched {
  background-color: #808000;
}